{
    "verifyToken": "<VERIFY_TOKEN>",
    "appSecret": "<APP_SECRET>",
    "pageAccessToken": "<PAGE_ACCESS_TOKEN>",
    "convertionsApiAccessToken": "<CONVERTIONS_API_ACCESS_TOKEN>",
    "pageId": "<PAGE_ID>",
    "datasetId": "<DATASET_ID>",
    "supportPersonaId": "<SUPPORT_PERSONA_ID>"
}